.navbar .navbar-brand,
.content .nama h4 {
  color: #ffd37c;
}
.content .row .images img {
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.about .link a i {
  color: #000;
}

.about .link a:hover i {
  color: #ffd37c !important;
}
